<section ng-controller="LoginController" class="form-container">
	<h2>Log in to your account</h2>

	<form method="post" action="/login">
		<ng-form name="loginForm">
			<input type="email" ng-model="email" ng-pattern="emailValidation" name="email" placeholder="example@domain.com">
			<span ng-show="loginForm.email.$error.pattern" style="color:red">Please enter valid email.</span>
		</ng-form>

		<ng-form name="passwordForm">
			<input type="password" name="password" placeholder="password">
		</ng-form>

		<button>Log In</button>
	</form>

	<p>Don't have an account? <a ui-sref="registration">Register here.</a></p>
</section>