<section ng-controller="LoginController">
	<h2>Log in to your account</h2>

	<ng-form name="loginForm">
		Email: <input type="email" ng-model="email" ng-pattern="emailValidation" name="email" placeholder="name@test.com">
		<span ng-show="loginForm.email.$error.pattern" style="color:red">Please enter valid email.</span>
	</ng-form>

	<!--<ng-form ame="passwordForm">
		Password: <input type="password" ng-model="password" ng-pattern="passwordValidation" name="password" placeholder="password">
		<span ng-show="passwordForm.password.$error.pattern" style="color:red">Invalid password.</span>
		<br />

		Confirm: <input type="password" ng-model="password" ng-pattern="passwordValidation" name="password" placeholder="password">
	</ng-form>-->

	<button ng-click="loginToAccount(email, password)">Log In</button>

	<p>Don't have an account? <a ui-sref="registration">Register here.</a></p>
</section>

<!--$scope.emailPattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;-->