@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

/*
 * GLOBAL STYLES
 */
body {
	
	input {
		@include grid-column(12);
		margin: 5px 0;
	}

	a {
		text-decoration: none;
		font-weight: bold;
	}
}

h1 {
	text-align: center;
	color: #4E978A;
}

button {
	@include button;
	border-radius: 5px;
	&:disabled {
		opacity: 0.6;
	}
	padding: 15px 50px;
}

/*
 * NAV STYLES
 */
nav {
	@include grid-row();
}

nav ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	
	li {
		margin-right: 10px;
	}
}

#logo {
	width: 40px;
}

/*
 * NEW SESSION
 */
.start-message {
	background: yellow;
}

/*
 * MAP STYLES
 */
#sessionMap {
	width: 100%;
	height: 400px;
	display: inline-block;
	border-radius: 5px;
}

#directions {
	font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
	height: 100%;
    width: 390px;
	overflow: auto;
	font-size: 15px;
	
	select {
		width: 100%;
	}
}

#container {
	margin: 20px;
  	width: 400px;
  	height: 8px;
}

footer {
	bottom: 0;
	left: 0;
	right: 0;
}


/* DIRECTIONS */
.adp table {
	background-color: red;
	font-family: serif !important;
}