@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

button {
	@include button;
	&:disabled {
		opacity: 0.6;
	}
}

body {
	@include grid-row();
	background-color: lightseagreen;
}

#sessionMap {
	width: 100%;
	height: 400px;
}